<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>タイトルを入力してください｡</title>
        <!-- <link rel="stylesheet" href="./css/bootstrap-icons.css"> -->
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" href="./css/bootstrap-icons.css" />
        <link rel="stylesheet" href="./css/doc.css" />
    </head>
    <body>
        <header class="top-bar">
            <button class="menu-toggle" id="menuToggle">
                <!-- <i class="fas fa-bars"></i> -->
                <i class="bi bi-list"></i>
            </button>
            <h1>サブタイトルを入力してください｡</h1>
        </header>
        <div class="wrapper">
            <nav id="sidebar" class="sidebar">
                <br />
                <div class="position-sticky">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading01">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse01" aria-expanded="true" aria-controls="collapse01">第一章 概要</button>
                            </h2>
                            <div id="collapse01" class="accordion-collapse collapse" aria-labelledby="heading01" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter01-01.html">1-1 はじめに</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter01-02.html">1-2 画面の見かた</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading02">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse02" aria-expanded="false" aria-controls="collapse02">第二章 呼出発行</button>
                            </h2>
                            <div id="collapse02" class="accordion-collapse collapse" aria-labelledby="heading02" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter02-01.html">2-1 一覧発行</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter02-02.html">2-2 履歴発行</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter02-03.html">2-3 番号発行</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter02-04.html">2-4 分類発行</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter02-05.html">2-5 セット発行</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter02-06.html">2-6 バーコード検索発行</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter02-07.html">2-7 文字検索発行</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading03">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse03" aria-expanded="false" aria-controls="collapse03">第三章 値下発行</button>
                            </h2>
                            <div id="collapse03" class="accordion-collapse collapse" aria-labelledby="heading03" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter03-01.html">3-1 値下発行</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading04">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse04" aria-expanded="false" aria-controls="collapse04">第四章 いろいろな発行</button>
                            </h2>
                            <div id="collapse04" class="accordion-collapse collapse" aria-labelledby="heading04" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter04-01.html">4-1 コピー発行</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter04-02.html">4-2 入力発行</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter04-03.html">4-3 トレサビ発行</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading05">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse05" aria-expanded="false" aria-controls="collapse05">第五章 通信</button>
                            </h2>
                            <div id="collapse05" class="accordion-collapse collapse" aria-labelledby="heading05" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter05-01.html">5-1 USB通信</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter05-02.html">5-2 FTP通信</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter05-03.html">5-3 WEB通信</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading06">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse06" aria-expanded="false" aria-controls="collapse06">第六章 設定</button>
                            </h2>
                            <div id="collapse06" class="accordion-collapse collapse" aria-labelledby="heading06" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter06-01.html">6-1 基本設定</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter06-02.html">6-2 デバイス設定</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter06-03.html">6-3 操作設定</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter06-04.html">6-4 ネットワーク設定</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter06-05.html">6-5 設定値</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading07">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse07" aria-expanded="false" aria-controls="collapse07">第七章 データ管理</button>
                            </h2>
                            <div id="collapse07" class="accordion-collapse collapse" aria-labelledby="heading07" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-01.html">7-1 ラベルパートナーのレイアウト</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-02.html">7-2 ラベルパートナーのプリセット</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-03.html">7-3 ラベルパートナーのテーブル</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-04.html">7-4 ラベルパートナーのラベル</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-05.html">7-5 店舗情報</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-06.html">7-6 機械情報</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-07.html">7-7 部門番号</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-08.html">7-8 パートナーファイルの保存と読込</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-09.html">7-9 バックアップの取得と復元</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter07-10.html">7-10 発行履歴の保存</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading08">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse08" aria-expanded="false" aria-controls="collapse08">第八章 ツール</button>
                            </h2>
                            <div id="collapse08" class="accordion-collapse collapse" aria-labelledby="heading08" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter08-01.html">8-1 センサーAD値を確認する</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading09">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse09" aria-expanded="false" aria-controls="collapse09">第九章 困ったとき</button>
                            </h2>
                            <div id="collapse09" class="accordion-collapse collapse" aria-labelledby="heading09" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-01.html">chapter09-01</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-02.html">chapter09-02</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-03.html">chapter09-03</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-04.html">chapter09-04</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-05.html">chapter09-05</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-06.html">chapter09-06</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-07.html">chapter09-07</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-08.html">chapter09-08</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-09.html">chapter09-09</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-10.html">chapter09-10</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter09-11.html">chapter09-11 <span class="badge bg-danger">New❣</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading10">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">第十章</button>
                            </h2>
                            <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-01.html">chapter10-01</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-02.html">chapter10-02</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-03.html">chapter10-03</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-04.html">chapter10-04</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-05.html">chapter10-05</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-06.html">chapter10-06</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-07.html">chapter10-07</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-08.html">chapter10-08</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-09.html">chapter10-09</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-10.html">chapter10-10</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-url="chapter10-11.html">chapter10-11<span class="badge bg-danger">New❣</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </nav>

            <main class="main-content">
                <iframe id="contentFrame" src="front-page.html" title=""></iframe>
            </main>
        </div>

        <script src="./js/bootstrap.bundle.min.js"></script>
        <script src="./js/doc_script.js"></script>
    </body>
</html>
