<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/bootstrap-icons.css">
	<link rel="stylesheet" href="./css/neox.css">
</head>

<body>
	<div class="container">
		<div class="t text-center">neo-10 本体取扱説明書</div>
		<div>
			<img src="./images/front-page.webp" class="mx-auto d-block img-fluid">
		</div>
		<div class="text-center">
			<strong>株式会社 新盛インダストリーズ 商品開発部 Version 1.0</strong>
		</div>
	</div>

	<script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>