        <div class="card rounded-3 border-3 p-3 mb-3 border-danger">
            <i class="bi bi-exclamation-circle-fill icon text-danger float-start"><strong>注意-必要なければ削除</strong></i> 
            <i class="bi bi-exclamation-triangle-fill icon text-danger float-start"><strong>警告-必要なければ削除</strong></i> 
            <h3>タイトル-必要なければ削除</h3>
            <p>段落内容-必要なければ削除</p>
            <p>段落内容-必要なければ削除</p>
            <img src="イメージのパスを入力" class="mx-auto d-block img-fluid" alt="">
        </div>
        <br/>
